<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">


  <%  newListItems.forEach(function(item){ %>

    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
        <p><%=item.name%></p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    </form>
  <%  }) %>


      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>


  <div id="login-box">
    <form action="/login" method="POST">
        <label for="username">Type in your username here:</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="username"
            value="<%= locals.username %> ">
        <label for="password">Type in your password here: <%= url %> </label>
        <input type="password" class="form-control" name="password" id="password" placeholder="password">
        <!-- <button onClick="login(event)" class="btn btn-primary">Login</button> -->
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
    <a href="/registration" class="btn btn-success ml-2">Register here</a>
</div>



<%- include("footer") -%>
