<%- include("header") -%>

  <div class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <img src="/images/azbank_logo.png" alt="">
        <div>
          <h3>AZ Bank</h3>
        </div>
      </div>

      <div class="dashboard-element-container">
        <div class="sidebar-top">
          <ul class="list-unstyled components">
            <li>
              <a href="../dashboard/<%=username%>">Dashboard</a> <!-- ejs, js -->
            </li>
            <li class="active">
              <a href="../transactions/<%= username %>">Transactions</a> <!-- ejs, js -->
            </li>
            <li>
              <a href="../profile/<%= username %>">Profile</a> <!-- ejs, js -->
            </li>
          </ul>
        </div>

        <div class="sidebar-bottom">
          <ul class="list-unstyled CTAs">
            <li class="li-logout">
              <a href="../" class="download">Logout</a>
            </li>
          </ul>
          <p>Last Login: <%= lastLogin %>
          </p>
        </div>
      </div>
    </nav>



    <!-- Page Content  -->
    <div id="content">

      <section class="header">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
          <i class="fas fa-bars"></i>
        </button>
        <h2>Login History</h2>
        <button type="button" class="btn btn-secondary btn-md download-button"> <i
            class="transfer-icon fas fa-exchange-alt"></i><a href="../pay/<%=username%>"> Pay</a></button>
      </section>
      <hr>
      <section class="main">

        <!-- ejs -->
        <div class="transactions-section">
          <% for (var login of loginHistory){ %>
            <div class="transactions-container">
              <div class="transaction">
                <div class="transaction-name-date-container">
                  <p class="transaction-name">
                    <%= login.login_history%>
                  </p>
                </div>
              </div>
            </div>
            <%}%>
        </div>
      </section>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
        theme: "minimal"
      });

      $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });
    });


  </script>
  <% include("footer") %>