<%- include("header") -%>

    <div class="wrapper">

        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="/images/azbank_logo.png" alt="">
                <div>
                    <h3>AZ Bank</h3>
                </div>
            </div>

            <div class="dashboard-element-container">
                <div class="sidebar-top">
                    <ul class="list-unstyled components">
                        <li>
                            <a href="../dashboard/<%=username%>">Dashboard</a> <!-- masukin ejs, routing -->

                        </li>
                        <li>
                            <a href="../transactions/<%=username%>">Transactions</a> <!-- masukin ejs, routing -->
                        </li>
                        <li>
                            <a href="../profile/<%=username%>">Profile</a> <!-- masukin ejs, routing -->

                        </li>
                    </ul>
                </div>

                <div class="sidebar-bottom">
                    <ul class="list-unstyled CTAs">
                        <li class="li-logout">
                            <a href="../" class="download">Logout</a>
                        </li>
                    </ul>
                    <p>Last Login:
                        <%=lastLogin%>
                        <!-- masukin ejs -->
                    </p>
                </div>
            </div>
        </nav>


        <!-- Page Content  -->
        <div id="content">

            <section class="header">
                <button type="button" id="sidebarCollapse" class="btn btn-secondary">
                    <i class="fas fa-bars"></i>
                </button>
                <h2>Change Password</h2> <!-- ejs -->
                <button type="button" class="btn btn-secondary btn-md download-button"> <i
                        class="transfer-icon fas fa-exchange-alt"></i>
                     Pay</button>

            </section>
            <hr>

            <section class="main">

                <div class="change-password-container">
                    <form id="change-password-form" action="/password/<%=username%>" method="POST">
                        <div class="password-container">
                            <div>
                                <label for="currentPassword">Current Password</label>
                                <input type="password" class="form-control" name="currentPassword" id="currentPassword">
                            </div>
                            <div>
                                <label for="newPassword">New Password</label>
                                <input type="password" class="form-control" name="newPassword" id="newPassword">
                            </div>
                        </div>
                        <div class="change-password-button-container">
                            <input type="submit" class="btn btn-secondary btn-md download-button"
                                value="Change Password">
                        </div>
                    </form>
                </div>
        </div>

    </div>
    <%- include("footer") -%>

        <script>
            const changePassword = async e => {
                e.preventDefault();
                console.log("___________________ \n\n");
                const currentPassword = document.getElementById('currentPassword').value;
                const newPassword = document.getElementById('newPassword').value;

                console.log(oldPassword, newPassword);

                const option = {
                    headers: {
                        "Content-Type": "application/json"
                    },
                    method: "POST",
                    mode: 'cors',
                    body: JSON.stringify({
                        oldPassword: "oldPassword",
                        newPassword: "newPassword"
                    }),
                    redirect: "follow"
                }
            }

            var sendAlert = "<%=alert%>";
            window.onload = () => {
                function checkAlert() {
                    if (sendAlert == "updated") {
                        alert("Password successfully updated");
                    }
                    else if (sendAlert =="not updated"){
                        alert("The current password you entered is incorrect");
                    }
                }
                checkAlert();
            }

        </script>