<%- include("header") -%>

  <div class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <img src="/images/azbank_logo.png" alt="">
        <div>
          <h3>AZ Bank</h3>
        </div>
      </div>
      <div class="dashboard-element-container">

        <div class="sidebar-top">
          <ul class="list-unstyled components">
            <li class="active">
              <a href="#">Dashboard</a> <!-- ejs, js -->
            </li>
            <li>
              <a href="../transactions/<%= username %>">Transactions</a> <!-- ejs, js -->
            </li>
            <li>
              <a href="../profile/<%= username %>">Profile</a> <!-- ejs, js -->
            </li>
          </ul>
        </div>


        <div class="sidebar-bottom">
          <ul class="list-unstyled CTAs">
            <li class="li-logout">
              <a href="../" class="download">Logout</a>
            </li>
          </ul>
          <p>Last Login: <%= lastLogin %>
          </p>
        </div>
      </div>

    </nav>



    <!-- Page Content  -->
    <div id="content">

      <section class="header">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
          <i class="fas fa-bars"></i>
        </button>
        <h2>Pay</h2> <!-- ejs -->
        <button type="button" class="btn btn-secondary btn-md download-button"> <i
            class="transfer-icon fas fa-exchange-alt"></i>
          Pay</button>
      </section>
      <hr>
      <hr>

      <section class="main">
        <form action="/pay/<%=username%>" method="POST">
          <div class="pay-detail">
            <label for="fromAccount">From Account</label>
            <select name="fromAccount" id="fromAccount">
              <option value="" disabled selected>Select Account</option>
              <% for (var account of accounts){ %>
                <div class="account-card">
                  <option value="<%=account.account_num%>">
                    <%=account.currency%>
                      <%=account.account_type%>
                  </option> <!-- ejs -->
                </div>
                <%}%>
            </select>
          </div>
          <div class="pay-detail">
            <label for="toAccount">To Account</label>
            <input type="number" name="toAccount" id="toAccount" class="form-control"
              placeholder="Enter Account Number">
          </div>
          <div class="pay-detail">
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" class="form-control" placeholder="Enter Amount">
          </div>
          <!-- <button type="button" class="btn btn-secondary btn-md btn-pay download-button"> <i
                class="transfer-icon fas fa-exchange-alt"></i>
              Pay</button> -->
          <input type="submit" value="Pay" id="payButton" class="btn btn-secondary btn-md btn-pay download-button">
        </form>

      </section>
    </div>

  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
        theme: "minimal"
      });

      $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        console.log("test")
      });
    });
    // document.getElementById("payButton").addEventListener("click", function (){
    //   alert("Transaction completed");
    // })
  </script>

  <% include("footer") %>