<%- include("header") -%>
  <div class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <img src="/images/azbank_logo.png" alt="">
        <div>
          <h3>AZ Bank</h3>
        </div>
      </div>

      <div class="dashboard-element-container">
        <div class="sidebar-top">
          <ul class="list-unstyled components">
            <li>
              <a href="../dashboard/<%=username%>">Dashboard</a> <!-- ejs, js -->
            </li>
            <li>
              <a href="../transactions/<%= username %>">Transactions</a> <!-- ejs, js -->
            </li>
            <li class="active">
              <a href="../profile/<%= username %>">Profile</a> <!-- ejs, js -->
            </li>
          </ul>
        </div>

        <div class="sidebar-bottom">
          <ul class="list-unstyled CTAs">
            <li class="li-logout">
              <a href="../" class="download">Logout</a>
            </li>
          </ul>
          <p>Last Login: <%= lastLogin %>
          </p>
        </div>
      </div>
    </nav>



    <!-- Page Content  -->
    <div id="content">

      <section class="header">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
          <i class="fas fa-bars"></i>
        </button>
        <h2>Profile</h2>
        <button type="button" class="btn btn-secondary btn-md download-button"> <i
            class="transfer-icon fas fa-exchange-alt"></i><a href="../pay/<%=username%>">Pay</a></button></button>
      </section>
      <hr>
      <section class="main">

        <div class="personal-data-section">
          <div>
            <p class="personal-detail">Name</p>
            <p class="personal-detail">Birth date</p>
            <p class="personal-detail">Email Address</p>
            <!-- <p class="personal-detail">Phone</p> -->
            <% for (var phone of numPhone){ %>
              <p class="personal-detail">Phone</p>
              <%}%>
            
            <!-- <p class="personal-detail">Email Address</p> -->
          </div>
          <div>
            <p class="personal-detail">: <%=name%></p> <!-- ini yang dikasih ejs -->
            <p class="personal-detail">: <%=birthdate%></p> <!-- ini yang dikasih ejs -->
            <p class="personal-detail">: <%=email%></p> <!-- ini yang dikasih ejs -->
            <% for (var phone of numPhone){ %>
              <p class="personal-detail">: <%=phone.phone_number%></p>
              <%}%>
            <!-- <p class="personal-detail">:</p> -->
            <!-- <p class="personal-detail">:</p> -->
          </div>
        </div>

        <hr class="short-hr">

        <div class="login-data-section">
          <div>
            <p class="login-detail">Username</p>
            <p class="login-detail">Password</p>
          </div>
          <div>
            <p class="login-detail">: <%= username %></p> <!-- ini yang dikasih ejs -->
            <p class="login-detail">: <%= password%></p> <!-- ini yang dikasih ejs -->
          </div>
        </div>

        <button type="button" class="btn btn-secondary btn-sm btn-change-password download-button"> <i
            class="fas fa-key"></i>
          <a href="../password/<%=username%>">Change Password</a></button>









      </section>

    </div>

  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
        theme: "minimal"
      });

      $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        console.log("test")
      });
    });
  </script>
  <% include("footer") %>