<%- include("header") -%>

  <div class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <img src="/images/azbank_logo.png" alt="">
        <div>
          <h3>AZ Bank</h3>
        </div>
      </div>

      <div class="dashboard-element-container">
        <div class="sidebar-top">
          <ul class="list-unstyled components">
            <li>
              <a href="../dashboard/<%=username%>">Dashboard</a> <!-- ejs, js -->
            </li>
            <li class="active">
              <a href="../transactions/<%= username %>">Transactions</a> <!-- ejs, js -->
            </li>
            <li>
              <a href="../profile/<%= username %>">Profile</a> <!-- ejs, js -->
            </li>
          </ul>
        </div>

        <div class="sidebar-bottom">
          <ul class="list-unstyled CTAs">
            <li class="li-logout">
              <a href="../" class="download">Logout</a>
            </li>
          </ul>
          <p>Last Login: <%= lastLogin %>
          </p>
        </div>
      </div>
    </nav>



    <!-- Page Content  -->
    <div id="content">

      <section class="header">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
          <i class="fas fa-bars"></i>
        </button>
        <h2>Transactions</h2>
        <button type="button" class="btn btn-secondary btn-md download-button"> <i
            class="transfer-icon fas fa-exchange-alt"></i><a href="../pay/<%=username%>"> Pay</a></button>
      </section>
      <hr>
      <section class="main">

        <section class="filter-section">
          <div class="filter-date">
            <p>Date</p>
            <div class="input-date-container">
              <input type="date" id="min-date" class="input-date" name="filter-date" min=<%=minTime%> max=<%= maxTime %>
                value=<%=minTime%> >
                  <div>
                    <p>-</p>

                  </div>
                  <input type="date" id="max-date" class="input-date" name="filter-date" min=<%=minTime%> max=<%=
                    maxTime %> value=
                    <%=maxTime%>>
            </div>
          </div>
          <div class="filter-time">
            <p>Time</p>
            <div class="input-time-container">
              <label for="filter-am">AM</label>
              <input type="radio" id="filter-pm" name="am-pm" value="pm">
              <label for="filter-pm">PM</label>
              <input type="radio" id="filter-none" name="am-pm" value="none" checked>
              <label for="filter-none">NA</label>
            </div>
          </div>
          <div class="filter-amount">
            <p>Amount</p>
            <div class="input-amount-container">
              <div class="filter-amount-display-container">
                <p class="filter-amount-display">
                  <%=minTransaction %>
                </p> <!-- pake javascript + ejs -->
              </div>
              <input type="range" min=<%=minTransaction%> max=<%=maxTransaction %> value=
                <%=Math.round((maxTransaction+minTransaction) /2) %> class="slider" id="filter-amount">
                  <div class="filter-amount-display-container">
                    <p class="filter-amount-display">
                      <%=maxTransaction %>
                    </p> <!-- pake javascript + ejs -->
                  </div>
            </div>
          </div>


        </section>

        <!-- ejs -->
        <div class="transactions-section">
          <h6><u>All Transactions</u></h6>
          <% for (var transaction of transactions){ %>
            <div class="transactions-container">
              <div class="transaction">
                <div class="transaction-name-date-container">
                  <p class="transaction-name">
                    <%=transaction.from_account%> <i class='fas fa-angle-double-right'></i>
                      <%=transaction.to_account%>
                  </p>
                  <p class="transaction-date">
                    <%=transaction.time%>
                  </p>
                </div>
                <div class="transaction-amount-container">
                  <p class="transaction-amount">
                    $ <%=transaction.amount%>
                  </p>
                </div>
              </div>
            </div>
            <%}%>
        </div>




      </section>


    </div>

  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
        theme: "minimal"
      });

      $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });

      const renderElements = (transSection, filterTime, minDate, maxDate, filterAmount) => {
        transSection.innerHTML = "<h6><u>All Transactions</u></h6>";
        let render = "";
        "<% for (var transaction of transactions){ %>"
        if (new Date("<%= transaction.time %>") >= new Date(new Date(minDate.value).setHours(0, 0, 0, 0)) && new Date("<%= transaction.time %>") <= new Date(new Date(maxDate.value).setHours(23, 59, 59, 99)) &&
          parseFloat("<%= transaction.amount %>") <= filterAmount.value) {
          if (filterTime == "am") {
            if (new Date("<%= transaction.time %>").getHours() < 12) {
              render += `<div class="transactions-container">
                  <div class="transaction">
                    <div class="transaction-name-date-container">
                      <p class="transaction-name">
                        <%=transaction.nameFrom%> <i class='fas fa-angle-double-right'></i> <%=transaction.nameTo%>
                      </p>
                      <p class="transaction-date">
                        <%=transaction.time%>
                      </p>
                    </div>
                    <div class="transaction-amount-container">
                      <p class="transaction-amount">$ <%=transaction.amount%></p>
                    </div>
                  </div>
                </div>`
            }
          } else if (filterTime == "pm") {
            if (new Date("<%= transaction.time %>").getHours() >= 12) {
              render += `<div class="transactions-container">
                  <div class="transaction">
                    <div class="transaction-name-date-container">
                      <p class="transaction-name">
                        <%=transaction.nameFrom%> <i class='fas fa-angle-double-right'></i> <%=transaction.nameTo%>
                      </p>
                      <p class="transaction-date">
                        <%=transaction.time%>
                      </p>
                    </div>
                    <div class="transaction-amount-container">
                      <p class="transaction-amount">
                      $ <%=transaction.amount%>
                      </p>
                    </div>
                  </div>
                </div>`
            }
          } else {
            render += `<div class="transactions-container">
                <div class="transaction">
                  <div class="transaction-name-date-container">
                    <p class="transaction-name">
                        <%=transaction.nameFrom%> <i class='fas fa-angle-double-right'></i> <%=transaction.nameTo%>
                    </p>
                    <p class="transaction-date">
                      <%=transaction.time%>
                    </p>
                  </div>
                  <div class="transaction-amount-container">
                    <p class="transaction-amount">
                    $ <%=transaction.amount%>
                    </p>
                  </div>
                </div>
              </div>`
          }


        }
        "<%}%>"
        transSection.innerHTML += render;
      }

      let minDate = document.querySelector("#min-date");
      let maxDate = document.querySelector("#max-date");
      let timeFilters = Array.from(document.getElementsByName("am-pm"));
      let filterTime = "NA";
      let filterAmount = document.querySelector("#filter-amount");
      let transSection = document.querySelector(".transactions-section");

      for (let timeFilter of timeFilters) {
        timeFilter.addEventListener("change", () => {
          filterTime = timeFilter.value;
          renderElements(transSection, filterTime, minDate, maxDate, filterAmount);
        })
      }
      minDate.addEventListener("change", () => {
        maxDate.min = minDate.value;
        renderElements(transSection, filterTime, minDate, maxDate, filterAmount);
      });
      maxDate.addEventListener("change", () => {
        minDate.max = maxDate.value;
        renderElements(transSection, filterTime, minDate, maxDate, filterAmount);
      });
      filterAmount.addEventListener("change", () => {
        renderElements(transSection, filterTime, minDate, maxDate, filterAmount);
      })

      renderElements(transSection, filterTime, minDate, maxDate, filterAmount);

      // let filters = 
    });


  </script>
  <% include("footer") %>